* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background: white;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.app > .screen {
  display: none;
}

.app > .screen.active {
  display: block;
  width: 100%;
  height: 100%;
}

.screen .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
}

.screen .form__input {
  width: 100%;
  margin: 20px 0px;
}

.screen h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #111;
  border-bottom: 4px solid #555;
  padding: 5px 0;
  display: inline-block;
}

.screen .form__input label {
  display: block;
  margin-bottom: 5px;
}

.screen .form__input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  font-size: 16px;
}

.screen .form__input button {
  color: #fff;
  padding: 10px 20px;
  background: #111;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
}

.chat__screen .header {
  background: #111;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.chat__screen .header .logo {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.chat__screen .header button {
  padding: 5px 10px;
  border: 1px solid #eee;
  background: transparent;
  color: #eee;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.chat__screen .messages {
  width: 100%;
  height: calc(100% - 100px);
  background: #f5f5f5;
  overflow: auto;
}

.chat__screen .messages .message {
  display: flex;
  padding: 10px;
}
.chat__screen .messages .message > div {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
  max-width: 80%;
  background: #fff;
}

.chat__screen .messages .message.my__message {
  justify-content: flex-start;
}

.chat__screen .messages .message.other__message {
  justify-content: flex-end;
}

.chat__screen .messages .message.text {
  word-wrap: break-word;
}

.chat__screen .messages .message.name {
  font-size: 13px;
  color: #555;
  margin-bottom: 5px;
}

.chat__screen .messages .update {
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.chat__screen .type__box {
  width: 100%;
  height: 50px;
  display: flex;
}
.chat__screen .type__box input {
  flex: 1;
  height: 50px;
  font-size: 18px;
}

.chat__screen .type__box button {
  width: 80px;
  height: 100%;
  background: #111;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3px;
}
